@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap');

html {
    background-color: rgb(10, 25, 70);
}

img {
    max-width: 125px;
    min-width: 125px;
    max-height: 100px;
    min-height: 100px;
}

.card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1%;
}

.card-text-1 {
    color: rgb(209, 211, 106);
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;
}